.item-name{
  padding: 4px 8px 0 20px;
  display: flex;
  align-items: center;
  // justify-content: center;
  color:#1890ff;

  .icon{
    margin-right: 16px;
  }
}
.widget-list-panel{
  .ant-collapse-header{
    padding: 8px 0 14px 20px !important;
  } 
}
.item-content{
  // border-top: 1px solid #ccc;

  .cmpt-item{
    margin-top: 4px;
    padding: 8px 4px;
    display: flex;
    align-items: center;

    &:hover{
      cursor: move;
      background-color: #91d5ff;
      box-shadow: 0 0 4px 0 rgba(22,25,33,.06), 0 12px 16px 0 rgba(22,25,33,.12);
      transition: all .2s ease;
      color: white;
    }
    
    .icon{
      margin:0 10px 0 30px;
    }
    .name{
      font-size: 12px;
    }
  }
}
